{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h2><strong style="font-weight: bold; font-size: 32px;">Dashboard</strong></h2>
    <p>Welcome to your dashboard.</p>
    <a href="{% url 'account:edit_profile' %}">Edit Profile</a>
    <a href="{% url 'password_change' %}">Change Password</a>
{% endblock %}