{% extends "base.html" %}
{% block title %}Edit your account{% endblock %}
{% block content %}
<h2><strong style="font-weight: bold; font-size: 32px;">Edit your account</strong></h2>
You can edit your account using the following form:

<form method="post" enctype="multipart/form-data">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}
    <div style="margin-top: 10px;">
        <button type="submit">Save Changes</button>
    </div>
</form>

{% endblock %}