{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h2><strong style="font-weight: bold; font-size: 32px;">Log-in</strong></h2>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        <a href="{% url 'account:password_reset' %}">Forgot password?</a>
    {% else %}
        <p>Please use the following form to log-in:</p>
    {% endif %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <div style="margin-top: 10px;">
            <button type="submit">Log in</button>
        </div>
    </form>
    <p>Don't have an account? <a href="{% url 'account:register' %}">Register here</a></p>
{% endblock %}
