{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
  <h2><strong style="font-weight: bold; font-size: 32px;">Create an account</strong></h2>
  <p>Please, sign up using the following form:</p>
  <form method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    {{ profile_form.as_p }}
    <div style="margin-top: 10px;">
        <button type="submit">Create my account</button>
    </div>
  </form>
{% endblock %}
