{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div style="margin-top: 15px;">
    <strong style="font-weight: bold; font-size: 32px;">Welcome {{ new_user.first_name }}!</strong>
</div>

<div style="margin-top: 10px;">
    Your account has been successfully created. Now you can <a href="{% url 'account:login' %}">log in </a>.
</div>

{% endblock %}