{% load static %}
<html>
<head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <h1>Bookmarks</h1>
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
    
    <div class="header">
        <span class="logo">Logo</span>
        <nav>
            {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if request.path == '/dashboard/' %}class="selected"{% endif %}>
                    <a href="{% url 'account:dashboard' %}">My Dashboard</a>
                </li>
                <li {% if request.path == '/#images/' %}class="selected"{% endif %}>
                    <a href="#">Images</a>
                </li>
                <li {% if request.path == '/#people/' %}class="selected"{% endif %}>
                    <a href="#">People</a>
                </li>
            </ul>
            {% endif %}
        </nav>
        <span class="user">
            {% if user.is_authenticated %}
                Hello, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!
                <a href="{% url 'account:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'account:login' %}">Login</a>
            {% endif %}
        </span>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>