{% extends "base.html" %}
{% block title %}Logged out{% endblock %}
{% block content %}
    <h2><strong style="font-weight: bold; font-size: 32px;">Logged out</strong></h2>
    <p>You have been successfully logged out. You can <a href="{% url 'account:login' %}">log in again</a>.</p>
{% endblock %}