{% extends "base.html" %}
{% block title %}Change your password{% endblock %}
{% block content %}
  <h2><strong style="font-weight: bold; font-size: 32px;">Change your password</strong></h2>
  <p>Use the form below to change your password:</p>

  <form method="post">
    {{ form.as_p }}
    <div style="margin-top: 10px;">
        <button type="submit">Change</button>
    </div>
    {% csrf_token %}
  </form>
{% endblock %}