{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
  <h2><strong style="font-weight: bold; font-size: 32px;">Reset your password</strong></h2>
  {% if validlink %}
    <p>Please enter your new password twice:</p>

    <form method="post">
      {{ form.as_p }} 
      {% csrf_token %}
      <div style="margin-top: 10px;">
        <button type="submit">Change my password</button>
    </div>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.Please request a new password reset.</p>
  {% endif %}
{% endblock %}

