{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
  <h2><strong style="font-weight: bold; font-size: 32px;">Forgotten your password?</strong></h2>
  <p>Enter your e-mail address to obtain a new password:</p>

  <form method="post">
    {{ form.as_p }}
    <div style="margin-top: 10px;">
        <button type="submit">Send e-mail</button>
    </div>
    {% csrf_token %}
  </form>
{% endblock %}