{% extends "base.html" %}
{% block title %}Password changed{% endblock %}
{% block content %}
  <h2><strong style="font-weight: bold; font-size: 32px;">Password changed</strong></h2>
  <p>Your password has been successfully changed.</p>
{% endblock %}