{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
  <h2><strong style="font-weight: bold; font-size: 32px;">Reset your password</strong></h2>
  <p>We've emailed you instructions for setting your password.</p>

  <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
{% endblock %}