{% extends "base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
  <h2><strong style="font-weight: bold; font-size: 32px;">Password set</strong></h2>
  <p>Your password has been set. You can  <a href="{% url 'account:login' %}">log in now</a>.</p>
{% endblock %}